---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.svelte";
---
<BaseLayout title="Contact | Sam Packer" sideBarActiveItemID="contact">
    <h2 class="text-3xl font-bold mb-6">Contact</h2>
    <p class="text-base">Thank you for reaching out! You may contact me using this form below. I will get back to you
        shortly. You may also contact me on LinkedIn as well.</p>
    <ContactForm client:load />
</BaseLayout>

<script is:inline>
    turnstile.ready(function () {
        turnstile.render(document.getElementById('turnstile-container'), {
            sitekey: "0x4AAAAAAA6W-c17eoXkcFQO",
        });
    });
</script>