---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.svelte";
---

<BaseLayout title="Contact"
            description="Contact Sam Packer directly through this form or via LinkedIn. Reach out with questions, collaboration opportunities, or inquiries."
            sideBarActiveItemID="contact">
    <h2 class="page-title">Contact</h2>
    <p class="text-base">Thank you for reaching out! You may contact me using this form below. I will get back to you
        shortly. You may also contact me on LinkedIn as well.</p>
    <ContactForm client:load/>
</BaseLayout>