---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/Experience.svelte";
import TimeLineElement from "../components/TimeLine.svelte";
---

<BaseLayout title="Experience | Sam Packer" sideBarActiveItemID="experience">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Summary</div>
    </div>

    <div class="text-lg text-base-content prose min-w-full text-left lg:text-justify mb-10">
        <p>
            I’ve always been drawn to the idea of using technology to advance businesses and their needs. Whether it’s
            improving the workflow for developers and businesses or building applications that are intuitive and fast to
            use, I enjoy developing solutions that matter. Over the years, I’ve tackled many complex challenges and
            needs, such as leading disaster recovery efforts that have saved thousands of dollars, orchestrating
            complex database designs to steer smarter decision making, and building websites that are a delight to use.
        </p>
        <p>
            My passions and goals are not just about building things to achieve a task. It’s about going the extra mile
            to create solutions that feel intuitive, meaningful, and are a joy to interact with. I want to build systems
            and tools that don’t just achieve the bare minimum for a task, but make people’s lives better. The impact
            that I create by putting other people's needs is the most important factor when developing a new process and
            fuels my purpose and passion.
        </p>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="B.B.A. in Computer Information Systems"
                subtitle="August 2021 to May 2025 at West Texas A&M University, Canyon, TX"
        >
            West Texas A&M University is <a class="underline"
                                            href="https://www.wtamu.edu/academics/college-business/about-us/cidm-department/abet-accreditation.html">
            ABET</a> and <a class="underline"
                            href="https://www.wtamu.edu/academics/college-business/about-us/accreditation.html">AACSB</a>
            accredited. AACSB is the highest standard of accreditation for business schools. Fewer than 40 business
            schools are both ABET and AACSB accredited.
        </TimeLineElement>
    </div>

    <Experience client:only="svelte"/>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc list-inside mb-10 grid gap-2">
        <li><a href="https://coursera.org/verify/KKA8DPCJ83WV" target="_blank">Google Agile Project
            Management</a></li>
        <li>
            Meta Front-End Web Developer Professional Certification
            <div class="badge badge-success">Obtaining</div>

        </li>
        <li>
            IBM AI Product Manager Professional Certification
            <div class="badge badge-success">Obtaining</div>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <div>
        <div class="text-2xl w-full font-bold mb-2">Languages & Frameworks</div>
    </div>

    <ul class="list-disc list-inside md:columns-4 columns-2">
        <li><a href="https://www.java.com/">Java</a></li>
        <li><a href="https://dotnet.microsoft.com/en-us/languages/csharp">C#</a></li>
        <li><a href="https://www.python.org/">Python</a></li>
        <li>HTML / CSS</li>
        <li>JavaScript</li>
        <li><a href="https://mariadb.org/">MySQL / MariaDB</a></li>
        <li><a href="https://www.mongodb.com/">MongoDB</a></li>
        <li><a href="https://redis.io/">Redis</a></li>
        <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">ASP.NET Core</a></li>
        <li><a href="https://react.dev/">React</a></li>
        <li><a href="https://angular.dev/">Angular</a></li>
        <li><a href="https://astro.build/">AstroJS</a></li>
        <li><a href="https://svelte.dev/">Svelte</a></li>
        <li><a href="https://tailwindcss.com/">Tailwind CSS</a></li>
    </ul>

    <div class="divider"></div>

    <div>
        <div class="text-2xl w-full font-bold mb-2">Infrastructure & System Administration</div>
    </div>

    <ul class="list-disc list-inside md:columns-3 columns-2">
        <li><a href="https://www.debian.org/">Ubuntu / Debian</a></li>
        <li><a href="https://www.microsoft.com/en-us/windows-server">Windows Server</a></li>
        <li><a href="https://aws.amazon.com/">AWS</a></li>
        <li><a href="https://www.hetzner.com/">Hetzner</a></li>
        <li><a href="https://workspace.google.com/">Google Workspace</a></li>
        <li>Active Directory / Entra ID</li>
        <li>Group Policy Management</li>
        <li><a href="https://www.okta.com/">Okta / Auth0</a></li>
        <li><a href="https://fusionauth.io/">FusionAuth</a></li>
        <li><a href="https://www.apereo.org/programs/software/cas">Central Authentication Service (CAS)</li>
        <li><a href="https://duo.com/">Duo MFA</a></li>
    </ul>

    <div class="divider"></div>

    <div>
        <div class="text-2xl w-full font-bold mb-2">Methodologies & Tools</div>
    </div>

    <ul class="list-disc list-inside md:columns-4 columns-2">
        <li><a href="https://github.com/">Git / GitHub</a></li>
        <li><a href="https://github.com/features/actions">GitHub Actions</a></li>
        <li><a href="https://www.docker.com/">Docker</a></li>
        <li><a href="https://www.jenkins.io/">Jenkins CI/CD</a></li>
        <li><a href="https://www.sonatype.com/products/sonatype-nexus-repository">Nexus Repository</a></li>
        <li>Agile</li>
        <li><a href="https://www.scrum.org/">SCRUM</a></li>
        <li>LEAN</li>
    </ul>
</BaseLayout>
