---
import Arrow from "../assets/icons/back.svg";
---

<noscript>
    <style>
        #back-button {
            display: none;
        }
    </style>
</noscript>

<a id="back-button" class="no-underline flex items-center space-x-2" href="javascript:history.back()">
    <Arrow width={32} height={32} fill="currentColor"/>
    <span>Back</span>
</a>