---
const {title, subtitle} = Astro.props;
---

<div class="collapse-wrapper clickable">
    <div class="collapse collapse-arrow">
        <input type="checkbox" aria-label={title}/>
        <div class="collapse-title">
            <p class="text-xl font-semibold">{title}</p>
            <p class="text-md text-base-content/70">{subtitle}</p>
        </div>
        <div class="collapse-content text-sm">
            <slot/>
        </div>
    </div>
</div>