---
import Chevron from "../assets/icons/chevron.svg";
---

<noscript>
    <style>
        #back-to-top {
            display: none;
        }
    </style>
</noscript>

<button id="back-to-top" class="fixed bottom-8 right-8 btn btn-circle btn-xl
    transition duration-150 ease-in-out"
        onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
    <Chevron width={24} height={24} fill="currentColor"/>
</button>

<script>
    function setupBackToTopButton() {
        const backToTopButton = document.getElementById('back-to-top');

        // Determine if the button should be initially visible
        let isButtonVisible = window.scrollY > 100;

        // Initial setup based on the initial scroll position
        if (isButtonVisible) {
            backToTopButton.classList.remove('hidden');
        } else {
            backToTopButton.classList.add('hidden');
        }

        function handleScroll() {
            const shouldShowButton = window.scrollY > 100;

            // Only update the DOM if the button's visibility needs to change
            if (shouldShowButton && !isButtonVisible) {
                backToTopButton.classList.remove('hidden');
                isButtonVisible = true;
            } else if (!shouldShowButton && isButtonVisible) {
                backToTopButton.classList.add('hidden');
                isButtonVisible = false;
            }
        }

        window.addEventListener('scroll', handleScroll, {passive: true});
    }

    function init() {
        document.addEventListener('DOMContentLoaded', function () {
            setupBackToTopButton();
        }, {passive: true});
    }

    init();
    document.addEventListener('astro:after-swap', setupBackToTopButton, {passive: true});
</script>