---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full">
    <li><a class={`sidebar-item ${sideBarActiveItemID === "home" ? activeClass : ""}`} href="/">Home</a></li>
    <li><a class={`sidebar-item ${sideBarActiveItemID === "projects" ? activeClass : ""}`} href="/projects/">Projects</a></li>
    <li><a class={`sidebar-item ${sideBarActiveItemID === "experience" ? activeClass : ""}`} href="/experience/">Experience</a></li>
    <li><a class={`sidebar-item ${sideBarActiveItemID === "blog" ? activeClass : ""}`} href="/blog/">Blog</a></li>
    <li><a class={`sidebar-item ${sideBarActiveItemID === "contact" ? activeClass : ""}`} href="/contact/">Contact</a></li>
</ul>