---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full">
    <li><a class={`py-3 text-base rounded-md ${sideBarActiveItemID === "home" ? activeClass : ""}`} id="home" href="/">Home</a></li>
    <li><a class={`py-3 text-base rounded-md ${sideBarActiveItemID === "projects" ? activeClass : ""}`} id="projects" href="/projects/">Projects</a></li>
    <li><a class={`py-3 text-base rounded-md ${sideBarActiveItemID === "experience" ? activeClass : ""}`} id="experience" href="/experience/">Experience</a></li>
    <li><a class={`py-3 text-base rounded-md ${sideBarActiveItemID === "blog" ? activeClass : ""}`} id="blog" href="/blog/">Blog</a></li>
    <li><a class={`py-3 text-base rounded-md ${sideBarActiveItemID === "contact" ? activeClass : ""}`} id="contact" href="/contact/">Contact</a></li>
</ul>